/*
    style 소스의 type = text를 제어하는 css로
    
    a:link : 클릭하지 않은 링크
    a:visited : 한번 클릭했던 혹은 다녀갔던 링크
    a:hover : 링크를 클릭하려고 마우스를 가져갔을 때
    a:active : 링크부분에서 마우스를 누르고 있는 동안의 상태
    
    text-decoration ->  밑줄
    - none : 없는 상태
    - underline : 있는 상태
*/

header nav{ padding: 10px 7%;}
header .navbar-brand { line-height: 2; white-space: normal;}
header .form-control {width: fit-content;}
a:link { color: black; text-decoration: none;}  
a:visited { color: black; text-decoration: none;}
a:hover { color: darkslategray;}

h1 { font-size: 30px;}

table tr .td_div_50 { width: 50%; display: inline;}
table tr .td_div_50 button { margin: 0px 10px;}
table tr td { vertical-align: middle;}

.card img { width: 100%; padding-bottom: 10px;}
.card img.movie.detail { width: 50%; padding-bottom: 10px;}
.card .card-header { --bs-bg-opacity: 0.85; color: #fff;}
.card .card-footer{ --bs-bg-opacity: 0.3;}
.card[class*='border'] { display: inline-block; width: 46%;}
.card.cardWrap { vertical-align: top;}

.form1 { display: inherit; float: right; width: auto;}
.form2 { margin: 2% 7%; width: -webkit-fill-available}

.btn_type1 { width: -webkit-fill-available;}

.contents .title { margin: 30px 0px; text-align: center; }
.contents .content_1 { margin: 15px 0px; text-align: center;}

.loading_wrap .axios-loading-indicator-normal { top: 45%; left: calc(50% - 75px); position: fixed;}
.loading_wrap .axios-loading-normal { left: 0; top: 0; width: 100%; height: 100%; z-index: 999; overflow: auto; display: block; position: fixed !important; background-color: rgba(0, 0, 0, 0.300);}
.loading_wrap .loding-text-normal { left: 0; top: 52%; width: 100%; z-index: 9999; overflow: auto; position: fixed !important; text-align: center; color: aliceblue;}
.loading_wrap .loadingbar-normal { border-width:1px !important}
.loading_wrap .loadingbar-small { border-width:2px !important}
.loading_wrap .axios-loading-indicator-small { margin-top: 10px;}
.loading_wrap .axios-loading-small { left: 0; top: 0; width: 100%; height: 100%; z-index: 999; overflow: auto; display: block; position : inherit;}
.loading_wrap .loding-text-small { left: 0; width: 100%; z-index: 9999; overflow: auto; position: inherit !important; text-align: center;}
.loading_wrap .loadingbar-small { border-width:1px !important; top:5px !important}

.slider_wrap .slideImg{ width: 100%; height: 250px}

.success { display: '';}
.failure { display: none;}


@media screen and (max-width: 991px) {
    header nav { padding:0;}
    header #basic-navbar-nav a{ padding: 10px 15px;}
    header .navbar{padding-top: 0;}

    .container{ margin: 0px auto; max-width:none;} 

    .form1 { display: grid; float: none; padding-left: inherit; width: 100%;}
    .form2 { margin: 0 auto; width: 85%;}
}
@media screen and (max-width: 600px) {
    .container{ margin: 0px auto;}
    
    .form2 {width: 95%;}
}
@media screen and (max-width: 450px) {
    .container{ margin: -5px auto;}
    
    .card[class*='border']{width: -webkit-fill-available;}

    .form2 {width: 100%;}
}