* {
    box-sizing: border-box;
}

body {
    margin: 0;
    /*min-width: 992px;*/
    font-family: "Helvetica";
}

.navbar {
    height: 60px;
    padding-left: 30px;
}

.logo {
    line-height: 60px;
    float: left;
}

.logo img {
    vertical-align: middle;
}

.navbar ul {
    float: right;
}

.navbar li {
    list-style-type: none;
    float: left;
    margin-right: 30px;
}

.navbar a {
    text-decoration: none;
    color: black;
    font-style: bold;
    font-size: 13px;
}

.hero_header {
    height: 450px;
    width: 100%;
}

body h1 {
    text-align: center;
    margin-top: 60px;
    margin-bottom: 60px;
    font-size: 24px;
    font-style: bold;
    color: #545454;
}

.products {
    margin-left: 10%;
    margin-right: 10%;
    padding: 0;
    /*width: 740px;*/
    text-align: center;
}

.products img {
    width: 225px;
    height: 225px;
    margin-right: 10px;
    margin-left: 10px;
    margin-bottom: 20px;
}

.products a {
    text-decoration: none;
    color: black;
    float: left;
    font-size: 16px;
}

.price {
    margin-top: 4px;
    margin-bottom: 80px;
}

.clearfix {
    clear: both;
}

.footer {
    text-align: center;
}

.footer img {
    margin-top: 40px;
    height: 20px;
    margin-bottom: 80px;
    margin-left: 10px;
    margin-right: 10px;
}